<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.reportingmaintenance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".uis.technicians.TechnicActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.faculties.FacultiesActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.students.StudentActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.disruption_typs.DisruptionTypesActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.home.HomeActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.addreport.AddReportsActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.places.PlacesActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.addplcae.AddPlaceActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.addtechnician.AddTechnicianActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.adddisribution.AddDisributionActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.addfaculty.AddFacultyActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.reports.ReportsActivity"
            android:configChanges="uiMode"
            android:exported="false"></activity>
        <activity
            android:name=".uis.charts.ChartsActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".uis.login.LoginActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uis.signup.SignupActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>